<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>finalProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>app/board/boardList.jsp</welcome-file>
		<!-- 메인페이지 boardList.jsp로 설정 -->
	</welcome-file-list>

	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>com.example.app.member.MemberFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Board</servlet-name>
		<servlet-class>com.example.app.board.BoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Board</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>File</servlet-name>
		<servlet-class>com.example.app.file.FileFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>File</servlet-name>
		<url-pattern>*.file</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Reply</servlet-name>
		<servlet-class>com.example.app.reply.ReplyFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reply</servlet-name>
		<url-pattern>*.re</url-pattern>
	</servlet-mapping>
</web-app>