<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>day02_task</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
     <servlet-name>MyServlet1</servlet-name>
     <servlet-class>com.servletTask.app.MyServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>MyServlet1</servlet-name>
     <url-pattern>/resultServlet1</url-pattern>
  </servlet-mapping>
  
    <servlet>
     <servlet-name>MyServlet2</servlet-name>
     <servlet-class>com.servletTask.app.MyServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>MyServlet2</servlet-name>
     <url-pattern>/resultServlet2</url-pattern>
  </servlet-mapping>
</web-app>



