<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>day01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>	<!-- HTML보다 더 이전에 사용하던 확장자 -->
    <welcome-file>default.html</welcome-file> <!-- index보다 더 이전에 사용하던 메인 페이지명 -->
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 연결할 Servlet 경로 설정 -->
  <servlet>
  	<servlet-name>TestServlet</servlet-name> <!-- 3. 아래 서블릿으로 연결 -->
  	<servlet-class>com.koreaIt.app.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>TestServlet</servlet-name> <!-- 2. 매핑시킬 서블릿명 작성 : TestServlet라는 이름을 가진 -->
	  <url-pattern>/Hello</url-pattern>	<!-- 1. 해당 경로로 들어온 페이지를 -->
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<servlet-class>com.koreaId.app.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/Test</url-pattern> <!-- 실행할 페이지의 action에 들어갈 이름 -->
  </servlet-mapping>
  
</web-app>