<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>day02</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>GetPostHandler</servlet-name>
		<servlet-class>com.servlet.app.GetPostHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPostHandler</servlet-name>
		<url-pattern>/handler</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForwardHandler</servlet-name>
		<servlet-class>com.servlet.app.ForwardHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardHandler</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RedirectHandler</servlet-name>
		<servlet-class>com.servlet.app.RedirectHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectHandler</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
</web-app>